/* MODAL */
.modal__wrapper {
	@include bgBlurBlack(0.5, 5px);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;

	&.hide-modal {
		pointer-events: none;
		opacity: 0;
		visibility: hidden;
		transition: .2s linear;
	}

	&.show-modal {
		opacity: 1;
		pointer-events: all;
		transition: .2s linear;
	}
}

.modal {
	.modal__title {
		display: flex;
		justify-content: space-around;

		h3 {
			text-align: center;
			font-size: 24px;
			width: 95%;
			color: #000;
			text-shadow: 1px 1px 1px #fff;
		}

		span {
			width: 5%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 24px;
			color: #fff;
			text-shadow: 1px 1px 1px #000;
	
			i {
				cursor: pointer;
			}		 
		}
	}
	
	.modal__content {
		width: 800px;
		height: 450px;
		background-color: black;
		color: #fff;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		.modal__content_inputs {
			width: 300px;

			.input-field {
				margin: 25px;
				position: relative;
				width: 80%;
				top: 30px;
				height: 40px;

				.input_text {
					position: absolute;
					top: 0;
					left: 0;
					line-height: 40px;
					font-size: 18px;
					padding: 0 10px;
					display: block;
					transition: .5s;
					pointer-events: none;
					color: $modal-blue-color;
				}

				input {
					position: absolute;
					height: 100%;
					width: 100%;
					background-color: transparent;
					z-index: 1000;
					font-size: 18px;
					padding: 0 10px;
					outline: none;
					border: none;
					transition: .5s;
				}

				input:-webkit-autofill,
				input:-webkit-autofill:hover,
				input:-webkit-autofill:focus,
				input:-webkit-autofill:active {
					-webkit-transition: all 5000s ease-in-out 0s;
					transition: all 5000s ease-in-out 0s;
					-webkit-transition-property: background-color, color;
					transition-property: background-color, color;
				}
			}

			.input_line {
				position: absolute;
				width: 100%;
				bottom: 0;
				height: 2px;
				display: block;
				background: $mw-color;
				transition: .5s;
				border-radius: 2px;
				pointer-events: none;
			}
		}

		.input-field:nth-child(1) {
			margin-top: 10px;
		}
		.input-field:nth-child(4) {
			margin-bottom: 10px;
		}

		.input-field input:invalid ~ .input_line {
			box-shadow: 0 0 15px #fff;
		}
		.input-field input.active__field + .input_text {
			top: -35px;
			left: -10px;
			font-size: 14px;
		}
		.input-field input.active__field ~ .input_line {
			height: 100%;
		}

		.input-field .form_check_valid {
			position: absolute;
			top: 0;
			right: 5px;
			text-align: center;
			line-height: 40px;
		}

		.input-field .form_check_valid .fa-check {
			color: green;
			text-shadow: 0 0 15px #fff;
		}

		.input-field .form_check_valid .fa-times {
			color: red;
			text-shadow: 0 0 15px #fff;
		}
	}
}

.modal .modal__content .modal__content_rate {
	width: 400px;
}

.modal_button {
	position: relative;
	width: 80%;
	height: 35px;
	text-align: center;

	button {
		font-weight: 600;
		height: 100%;
		width: 50%;
		background-color: transparent;
		border: none;
		outline: none;
		color: #fff;
		border: 1px solid transparent;
		border-bottom: 1px solid #009FB8;
		border-bottom-right-radius: 10px;
		font-size: 18px;
		cursor: pointer;
		transition: .2s linear;
	}

	button:hover {
		background: $mw-color;
		transition: .2s linear;
		transform: scale(1.1);
		border: 1px solid #34f3ff;
		border-radius: 10px;
		color: #000;
	}
}

.modal__content_rate {
	position: relative;
	display: flex;
	flex-direction: column;

	.modal__rate_title {
		text-align: center;
		position: relative;
		top: 30px;

		h3 {
			font-size: 24px;
		}
	}

	.modal__rate_check {
		position: relative;
		top: 40px;
		height: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
}

.modal__rate_variable {
	height: 25%;
	width: 85%;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
	margin: 5px 0px;

	.rate_variable_title {
		display: flex;
		align-items: center;
	}

	.rate_variables {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 70%;

		.rate_variable {
			display: flex;
			justify-content: space-between;
			width: 200px;

			.variable_price {
				width: 120px;
				display: flex;
				justify-content: space-between;

				.v-del-price {
					position: relative;
				}

				.v-del-price::before {
					@include del-price;
				}
			}
		}

		label {
			width: 215px;
			transition: .3s linear;
			padding: 5px;
		}
	}
}

.rate_check-title h3 {
	color: $modal-blue-color;
	font-size: 20px;
	font-weight: 600;
}

.rate_check_group {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100px;
	width: 75%;
}

.rate_check-time span,
.rate_check-actual-price span {
	color: $modal-blue-color;
	font-size: 18px;
}

.rate_check-del-price:nth-child(1) {
	font-weight: 300;
}

.rate_check-actual-price {
	display: flex;
	flex-direction: column;
	align-items: center;

	.offprice {
		font-size: 10px;
		font-style: italic;
		font-weight: 300;
		color: #fff;
		text-shadow: none;
	}
}

.rate_check_prices {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-around;

	.rate_check-del-price {
		text-align: center;
		position: relative;
	}

	.rate_check-del-price::before {
		@include del-price;
	}
}