/* RATES */
.content__rates {
	margin-top: 15px;
	height: 575px;

	.rates__title {
		position: relative;

		h3 {
			margin: 10px 0px;
			text-align: center;
			font-size: 2.5em;
		}
	}
}

.rates__container {
	margin: 20px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	.rate {
		position: relative;
		border-radius: 20px 20px 0px 0px;

		.rate__title {
			width: 320px;
			text-align: center;
			padding: 10px 0px;
			border: 1px solid #fff;
			color: #fff;
			border-radius: 20px 20px 0px 0px;
			background: $mw-color;
			cursor: pointer;
		}
	}

	.rate__card {
		position: absolute;
		width: 100%;
		height: 0%;
		overflow: hidden;
		background-color: #000;
		border: 1px solid #fff;
		border-radius: 0px 0px 20px 20px;
		-webkit-transition: all .3s linear;
		transition: all .3s linear;
		background: $mw-color;

		.rate__card_items {
			color: #fff;
			height: 300px;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;

			.rate__card_item {
				margin: 0px 10px;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;

				span {
					display: inline-block;
					width: 270px;
				}

				i {
					font-size: 20px;
				}
			}
		}
	}
}

.rates__container .rate .rate__card.active__rate {
	height: 450px;
	transition: all .3s linear;
}

.rate__card_prices {
	display: flex;
	flex-direction: column;
	align-items: center;

	.rate__card_price {
		display: flex;
		width: 200px;
		justify-content: space-around;
		margin: 5px 0px;
		cursor: pointer;
 	}

	span {
		color: #fff;
		margin: 0;
		padding: 0;
	}

	label {
		transition: .2s linear;
	}

	.del-price {
		position: relative;
	}

	.del-price::before {
		content: '';
		border-bottom: 2px solid red;
		position: absolute;
		left: -5px;
		width: 120%;
		height: 50%;
		transform: rotate(-12deg);
	}
}

.actual_price_title {
	display: inline-block;
	width: 80px;
 }
 
 input[type='radio'] {
	position: absolute;
	left: -1000%;
}

input[type='radio']:checked + label {
	-webkit-transition: .2s linear;
	transition: .2s linear;
	border: 2px solid #0D6EFD;
	border-radius: 10px;
}

.rate__card_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0px;

	button {
		height: 35px;
		width: 120px;
		border-radius: 10px;
		border: none;
		outline: none;
		cursor: pointer;
		font-weight: 600;
		background-color: #0D6EFD;
		color: #fff;
	}
}